|BEGIN:VCALENDAR
|VERSION:2.0
|PRODID:#{baseurl}
|X-WR-CALNAME:Cologne.js
|X-WR-TIMEZONE:Europe/Berlin
|X-WR-CALDESC:The official dates from Cologne.js meetups. For details see http://colognejs.de
|BEGIN:VTIMEZONE
|TZID:Europe/Berlin
|X-LIC-LOCATION:Europe/Berlin
|BEGIN:DAYLIGHT
|TZOFFSETFROM:+0100
|TZOFFSETTO:+0200
|TZNAME:CEST
|DTSTART:19700329T020000
|RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3
|END:DAYLIGHT
|BEGIN:STANDARD
|TZOFFSETFROM:+0200
|TZOFFSETTO:+0100
|TZNAME:CET
|DTSTART:19701025T030000
|RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10
|END:STANDARD
|END:VTIMEZONE
|METHOD:PUBLISH
- var nospace = ""
- if (events)
  each event in events
    |#{nospace}
    |BEGIN:VEVENT
    |UID:#{event.icalDate}@colognejs.de
    |LOCATION:Coworking-Space "Bottfabrik"\nAn der Bottmühle 5\n50678 Köln
    |SUMMARY:Cologne.js #{event.formattedDate}
    |URL:#{baseurl}
    |CLASS:PUBLIC
    |DTSTAMP:#{event.icalDate}T190000
    |DTSTART;TZID=Europe/Berlin:#{event.icalDate}T193000
    |DTEND;TZID=Europe/Berlin:#{event.icalDate}T220000
    |END:VEVENT
|#{nospace}
|END:VCALENDAR