extends layout

block content
  .container(role="main")

    .next-meetup
      h2 Next Meetup: !{nextDate}
      p Join us at 19:00, talks start at 19:30

    .talk-slots.grid-row
      - var numberOfTalks = talks ? talks.length : 0;
      - if (talks)
        each talk, number in talks
          article(class="grid-1-3 slot-taken")
            h3 Talk ##{number+1}
            h4 !{talk.title}
            h5 !{talk.speaker.name}
              - if (talk.speaker.twitter)
                |  (<a href="https://twitter.com/!{talk.speaker.twitter}">@!{talk.speaker.twitter}</a>)
            :markdown
              !{talk.description}

      - if (numberOfTalks < 3)
        - while (++numberOfTalks < 3)
          article(class="grid-1-3 slot-open")
            h3 Free slot
            p
              | You’re doing something interesting with JavaScript more people should know about?
              br
              strong Then you should give a talk!
            p
              strong Just drop us a line.
            p Never held a talk before, or not sure if its worth sharing? No problem, we can help getting you started.

        article(class="grid-1-3 slot-beerjs")
          h3 beer.js
          p After the talks, stick around, have a drink and a chat or two. A great opportunity to get to know fellow JavaScripters.

    h2 Join us in Cologne’s Südstadt …

    .grid-row
      .grid-2-3
        iframe(width="100%", height="300", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=An+der+Bottm%C3%BChle+5,+50678,+K%C3%B6ln&amp;aq=0&amp;sll=50.957245,6.967322&amp;sspn=0.369803,0.891953&amp;ie=UTF8&amp;t=m&amp;z=16&amp;iwloc=near&amp;output=embed")
      .grid-1-3
        :markdown
          **Coworking-Space "Bottfabrik"**  
          **An der Bottmühle 5**  
          **50678 Köln**

          ##### Public transport
          Hop onto line 15 or 16 or take the bus 106 and get off at Ubierring.
          Or take bus 132, 133 or 142 and exit at Chlodwigsplatz.

          ##### By car (not really recommended)
          You can try the parking lot in front of the [University of Applied Sciences](http://goo.gl/maps/7TER4)
          at this time (4€ for the whole evening) or use the underground parking just around the corner at
          Agrippinawerft, but it's quite expensive. :(

    .grid-row
      .grid-1-2
        :markdown
          ### Got a question? A talk to propose?
          
          Cologne.js is organized by **Jörn Zaefferer** and **Frederic Hemberger**. Catch us via
          [email](&#x006D;&#x0061;&#x0069;&#x006C;&#x0074;&#x006F;&#x003A;org&#x0040;colognejs.de),
          on [Twitter]("http://twitter.com/cgnjs") or our [mailing-list](http://groups.google.com/group/cgnjs).

          We’d love to help you with any questions you have or getting you started as a speaker.
          It’s not that hard and our community is a great way to get constructive feedback.

      .grid-1-2
        :markdown
          ### Don’t miss out!

          We meet <strong>monthly on the second Tuesday</strong>. To help you keeping track of our meet-ups, 
          [subscribe to our calendar](webcal://colognejs.de/colognejs.ics) (e.g. with iCal or Google Calendar).

          We have a thriving and diverse community, [check out our archive of past talks](/talks/)
          and get in touch with the speakers.
