extends layout

block content
  .container(role="main")

    .next-meetup
      h2
        | Next Meetup: Tuesday, !{nextDate}
        &mdash;&nbsp;<br>
        a(href="#location") New location at triAGENS
        
      h3 Join us at 19:00, talks start at 19:30

      p(style="margin:20px 0 0;font-size:1.2em")
        strong We need your participation for Cologne.js: 
          a(href="http://colognejs.de/help-wanted") Help us running the meetup!

    .talk-slots.grid-row
      - var numberOfTalks = talks ? talks.length : 0;
      - if (talks)
        each talk, number in talks
          article(class="grid-1-3 slot-taken")
            h3 Talk ##{number+1}
            h4 !{talk.title}
            h5 !{talk.speaker.name}
              - if (talk.speaker.twitter)
                |  (<a href="https://twitter.com/!{talk.speaker.twitter}">@!{talk.speaker.twitter}</a>)
            :markdown
              !{talk.description}

      - if (numberOfTalks < 3)
        - while (++numberOfTalks < 3)
          article(class="grid-1-3 slot-open")
            h3 Free slot
            p
              | You’re doing something interesting with JavaScript more people should know about?
              br
              strong Then you should give a talk!
            p
              strong Just drop us a line.
            p Never held a talk before, or not sure if its worth sharing? No problem, we can help getting you started.

        article(class="grid-1-3 slot-beerjs")
          h3 beer.js
          p After the talks, stick around, have a drink and a chat or two. A great opportunity to get to know fellow JavaScripters.

    h2(id="location") Join us …

    .grid-row
      .grid-2-3
        iframe(width="100%", height="300", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d628.6353485071322!2d6.939881999999992!3d50.93219999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf25024b225833%3A0xd34c24043ba684b8!2striAGENS+GmbH!5e0!3m2!1sde!2sde!4v1400045620701")

      .grid-1-3
        :markdown
          **triAGENS GmbH**  
          **Hohenstaufenring 43-45**  
          **50674 Köln**

          ##### Public transport
          Hop onto line 9, 12 or 15 and get off at Zülpicher Platz.
          The location is around 80 m down the street.

    .grid-row
      .grid-1-2
        :markdown
          ### Got a question? A talk to propose?
          
          Cologne.js is organized by **Michael Hackstein**, **Sebastian Tilch**, **Yunus Uyargil** and **Frederic Hemberger**. Catch us via
          [Twitter](http://twitter.com/cgnjs), our [mailing-list](http://groups.google.com/group/cgnjs) or send a mail to one of the
          organizers via _&lt;first name&gt;_@colognejs.de.

          We’d love to help you with any questions you have or getting you started as a speaker.
          It’s not that hard and our community is a great way to get constructive feedback.

      .grid-1-2
        :markdown
          ### Don’t miss out!

          We meet <strong>bi-monthly on the second Tuesday</strong>. To help you keeping track of our meet-ups,
          [subscribe to our calendar](webcal://colognejs.de/colognejs.ics) (e.g. with iCal or Google Calendar).

          We have a thriving and diverse community, [check out our archive of past talks](/talks/)
          and get in touch with the speakers.
