!!! 5
| <!--[if lt IE 7]> <html class="ie6 oldie" lang="en"> <![endif]-->
| <!--[if IE 7]>    <html class="ie7 oldie" lang="en"> <![endif]-->
| <!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
| <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  title #{locals.title ? (title + " « ") : ''}PragueJS | Czech JavaScript user group

  - var nextMeetupDescription = ''
  - nextMeetupDescription = (locals.events && events[0] && events[0].date) ? ', next time on ' + events[0].date + ' at 19:30' : ''
  meta(name="description", content="Your friendly JavaScript user group from Prague. We meet every last Thursday#{nextMeetupDescription}. Just come over …")
  meta(name="robots",      content="index, follow")

  link(rel='stylesheet', href='/stylesheets/screen.css')
  //if IE
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  //if lt IE 9
    link(rel='stylesheet', href='/stylesheets/ie.css')
    script (function(){var e='aside article hgroup footer header nav section'.split(' ');for (var i=0,l=e.length;i<l;i++){document.createElement(e[i])}})();


body
  include includes/header

  !{body}

  footer(role="contentinfo")
    .left
      | Site template courtesy of <a href="https://github.com/cologne-js/cologne-js">CologneJS</a>, thanks guys!<br>
      | Hosted on GitHub. Go ahead and <a href="https://github.com/abtris/cologne-js">fork us</a>!.
    .right

  script
    if (location.host === "jsconf.cz") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-79221-52'], ['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.async = true; ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
    if (location.host === "praguejs.cz") {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-79221-53'], ['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.async = true; ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }

    // Fix iOS orientationchange zoom bug (https://gist.github.com/901295/904de6b03dcfe1f9d2d100d1f5721c1ecb2746ed)
    (function(a){function g(){f.content="width=device-width,minimum-scale="+e[0]+",maximum-scale="+e[1];a.removeEventListener(c,g,true)}var b="addEventListener",c="gesturestart",d="querySelectorAll",e=[1,1],f=d in a?a[d]("meta[name=viewport]"):[];if((f=f[f.length-1])&&b in a){g();e=[.25,1.6];a[b](c,g,true)}})(document)
