extends layout

block content
  div(class="container talk-list", role="main")
    - var match
    - if (events && events.length)
      each event in events
        - if (event.talks)
          .grid-row
            .grid-1-3
              h1
                a(class="anchor", name="#{event.date}", href="##{event.date}") ¶
                | #{event.formattedDate}
            .grid-2-3
              each talk in event.talks
                article
                  h2= talk.title
                  h3
                    = talk.speaker.name
                    - if (talk.speaker.twitter)
                      span
                          |  (
                          a(href="https://twitter.com/#{talk.speaker.twitter}") @#{talk.speaker.twitter}
                          | )

                  - if (talk.description)
                    p !{talk.description}

                  - if (talk.links || talk.video)
                    ul.links
                      - if (talk.links)
                        each linkUrl, linkName in talk.links
                          li: a(href="#{linkUrl}") #{linkName}
                      - if (talk.video)
                        - if (talk.video.indexOf("vimeo.com") !== -1)
                          li: a(href="#{talk.video}", class="video-link") Video
                        - else
                          li: a(href="#{talk.video}") Video

                  - if ( talk.video && (match = talk.video.match(/vimeo\.com\/(\d+)$/)) && match[1] )
                    .video(style="display:none")
                      iframe(src="http://player.vimeo.com/video/#{match[1]}", width="500", height="281", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
                        a(href="#{talk.video}") Watch talk on Vimeo
    - else
      h2 No talks were given in this year yet.
      p You can browse past year's talks for slides and links.


  script(src="//code.jquery.com/jquery-1.7.2.min.js")
  script.
    $(function(){
      $('.video-link').click(function(e){
        $(this).parents('ul').next('.video').slideToggle();
        e.preventDefault();
      });
    });
