.talk-slots.grid-row
    article(class="grid-1-3")
      h1 Last meetup in !{locals.slots.month}
      p  Sponsored by GoodData and SalsitaSoft
    each meetup in locals.slots.talks
      article(class="grid-1-3 slot-taken")
        h1 !{meetup.title}
        h2 !{meetup.speaker.name}
        - if (meetup.video)
          p
            a(href=meetup.video) Video
        - if (meetup.description)    
          p !{meetup.description}

